<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118982309-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118982309-1');
</script>







<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="img/logo1.png" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s"><strong>The Hacking Project</strong></h1>


                <div class="we-create header-text we-create btn-ouline-success animated fadeInUp delay-1s">
                    <li><span id="head-title"></span>|</li>
                </div>


			<a class="link animated fadeInUp delay-1s servicelink " href="#service">Commencer</a>
		</div>
	</header>
	<!--header-end-->

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#header">Home</a></li>
				<li><a href="#service">A propos</a></li>
				<li><a href="#Portfolio">Evenement</a></li>
				<li class="small-logo"><a href="#header"><img src="img/small.png" alt=""></a></li>
				<li><a href="#client">Lead</a></li>
				<li><a href="#team">Temoignages</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->



	<section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2>A propos</h2>
			<h3>Le systeme de The Hacking Project :</h3><br><br>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-user"></i>
						</div>
						<div class="service-list-col2">
							<h3>Pas de proffesseur</h3>
							<p>Etudier en groupe, mais n'ayez pas peur, il y a une communauté très active pour vous accuellir si vous aurez des problèmes.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-home"></i>
						</div>
						<div class="service-list-col2">
							<h3>Pas de locaux</h3>
							<p>On n'a pas de locaux global .</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-globe"></i>
						</div>
						<div class="service-list-col2">
							<h3>pas de restriction geographique</h3>
							<p>Tout le monde peux suivre le cursus même si on ne se situe pas en France.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-heart"></i>
						</div>
						<div class="service-list-col2">
							<h3>systeme de jocker</h3>
							<p>On perd un jocker sur chaque projet non rendu ou sur chaque correction abusive.</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="img/table.jpg" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->



	<h1 class="text-center">Nos cursus</h1><br>
	<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="img/laptop.jpg" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h1>CODE</h1>
					<P class="padding-b">Le code ne sert pas qu'à être développeur. C'est un monde merveilleux où il existe un programme pour tout. Savoir lire et écrire le code permet de faire des choses qui vous étaient totalement impossibles. Au lieu de passer une après midi entière à faire du copier coller votre machine le fait à votre place, plus vite et plus précisément.</P><br><br>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-html5"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>Html5 &amp Css3</h3>
							<p>En une semaine vous serez capable de refaire la home page de google ou la landing page de votre projet. En 3 semaines vous aurez le niveau pour vendre vos réalisations. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-diamond"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Ruby</h3>
							<p>Avec Ruby vous découvrirez le scrapping de data, l'utilisation du deep web et les bases de la célèbre Programmation Orientée Objet. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="icon-ruby-on-rails-alt"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Ruby on Rails</h3>
							<p>Découvrez l'un des framework web les plus célèbres. Il vous permettra de rapidement coder une application web fonctionnelle, avec une base de données. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="icon-nodejs"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>JavaScript</h3>
							<p>Javascript vous permet de rendre votre site dynamique et d'inter-agir avec vos utilisateurs. </p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div><br><br><br><br><br>
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="img/business.jpg" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h1>BUSINESS DEV</h1>
					<P class="padding-b">Nous vous ferons faire connaissance avec la négociation, vous apprendrez toutes les methodes qui marchent en fonction du marché que vous adressez. Nous verrons tous les outils indispensables à un commercial qui créé de la valeur en 2018.</P><br><br>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-desktop"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>Les propales</h3>
							<p>Vous apprendrez les bases d'une bonne présentation commerciale, la réalisation, et l'exploration des bonnes pratiques pour faire une proposition commerciale qui impacte et vend du rêve. Avec les meilleurs outils bien entendu. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Lead et emailing</h3>
							<p>Nous allons ici utiliser tout un tas d'outils pour vous permettre de qualifier au mieux vos leads potentiels. Sur certains projets vous devrez les générer vous même et pour d'autres ils vous seront fournis par The Hacking Project. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-phone"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Phoning</h3>
							<p>On passe à une phase importante du metier de commercial. La première approche "humaine" du client BtoB. Vous découvrirez comment obtenir un rdv, quelle attitude avoir, et faire un script qui vous permettra de décrocher des RDVs. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-bookmark"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>rdv physique</h3>
							<p>Votre objectif sera de vous adapter. Vous adapter à votre interlocuteur et à ce que vous vendez, d'un rendez-vous à l'autre vous aurez des objectifs différents. Vous rencontrerez des élus locaux, des chefs d'entreprise, des chefs de projets, des serveurs. </p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->



	<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Evenement</h2>
			<h6>Quelques photos.</h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
					<li><a href="#" data-filter="*" class="current">All</a></li>
					<li><a href="#" data-filter=".branding">Dayly</a></li>
					<li><a href="#" data-filter=".webdesign">Détente</a></li>
					<li><a href="#" data-filter=".printdesign">Projection &amp Atelier</a></li>
					
				</ul>
			</div>

		</div>
		<div class="portfolioContainer wow fadeInUp delay-04s">
			<div class=" Portfolio-box printdesign">
				<a href="img/atelier.jpg"><img src="img/atelier.jpg" alt=""></a>
				<h3>Foto Album</h3>
				<p>Print Design</p>
			</div>
			<div class=" Portfolio-box printdesign">
				<a href="img/proj.jpg"><img src="img/proj.jpg" alt=""></a>
				<h3>Foto Album</h3>
				<p>Print Design</p>
			</div>
			<div class=" Portfolio-box printdesign">
				<a href="img/proj1.jpg"><img src="img/proj1.jpg" alt=""></a>
				<h3>Foto Album</h3>
				<p>Print Design</p>
			</div>
			<div class="Portfolio-box webdesign">
				<a href="img/detente3.jpg"><img src="img/detente3.jpg" alt=""></a>
				<h3>Luca Theme</h3>
				<p>Web Design</p>
			</div>
			<div class="Portfolio-box webdesign">
				<a href="img/detente2.jpg"><img src="img/detente2.jpg" alt=""></a>
				<h3>Luca Theme</h3>
				<p>Web Design</p>
			</div>
			<div class="Portfolio-box webdesign">
				<a href="img/detente1.jpg"><img src="img/detente1.jpg" alt=""></a>
				<h3>Luca Theme</h3>
				<p>Web Design</p>
			</div>
			<div class=" Portfolio-box branding">
				<a href="img/jour1.jpg"><img src="img/jour1.jpg" alt=""></a>
				<h3>Uni Sans</h3>
				<p>Branding</p>
			</div>
			
			<div class=" Portfolio-box branding">
				<a href="img/jour2.jpg"><img src="img/jour2.jpg" alt=""></a>
				<h3>Hipster</h3>
				<p>Branding</p>
			</div>
			<div class=" Portfolio-box branding">
				<a href="img/jour.jpg"><img src="img/jour.jpg" alt=""></a>
				<h3>Hipster</h3>
				<p>Branding</p>
			</div>
			
		</div>
	</section>
	<!--main-section-end-->


	<section class="main-section client-part" id="client">
		<!--main-section client-part-start-->
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">Porteur du projet, une personnalité déterminée et fédératrice. Elle n’a peur de rien et elle aime faire bouger les lignes.</p>
				</div>
			</div>
			<ul class="client wow fadeIn delay-05s">
				<li><a href="#">
            	<img src="img/matinaa.jpg" alt="">
                <h3>Matina Razafimahefa</h3>
                <span>CEO-Sayna</span>
            </a></li>
			</ul>
		</div>
	</section>
	<!--main-section client-part-end-->
	
	<!--c-logo-part-end-->
	<section class="main-section team" id="team">
		<!--main-section team-start-->
		<div class="container">
			<h2>témoignages</h2>
			<h6>Quelques témoinages.</h6>
			<div class="team-leader-block clearfix">
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-03s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="img/riana.jpg" alt="">
						<ul>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100012240157661" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-03s">Riana</h3>
					<span class="wow fadeInDown delay-03s">Rc</span>
					<p class="wow fadeInDown delay-03s">En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader  wow fadeInDown delay-06s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="img/itokiana.jpg" alt="">
						<ul>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="https://www.facebook.com/haryitokiana.rajoelisonjosue" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-06s">Hary Itokiana</h3>
					<span class="wow fadeInDown delay-06s">Rajoelison</span>
					<p class="wow fadeInDown delay-06s">J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération".</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-09s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="img/andry.jpg" alt="">
						<ul>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="https://www.facebook.com/ax.twoo" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-09s">Andry</h3>
					<span class="wow fadeInDown delay-09s">Haja Nirina</span>
					<p class="wow fadeInDown delay-09s">En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation!</p>
				</div>
			</div>
		</div>
	</section>
	<!--main-section team-end-->



	<section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2>Let’s Talk Business.</h2>
		</div>
	</section>
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>Logement 76 Villa - Miharisoa<br>Ivandry,Tananarive, Madagascar</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Phone:</h3>
						<span>+261 34 29 093 40</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>hello@sayna.io</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Hours:</h3>
						<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
					</div>
					<ul class="social-link">
						<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">

						<div id="sendmessage">Your message has been sent. Thank you!</div>
						<form class="contactForm">
						<%= form_for(@contact) do |f| %>
							
							<div class="form-group"><div class="form-group">
								<input type="text" name="contact[name]" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
								<input type="email" class="form-control input-text" name="contact[email]" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control input-text text-area" name="contact[message]" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
								<div class="validation"></div>
							</div>

							<div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
						<% end %>
					</div>
				</div>
			</div>
		</section>
	</div>


	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="img/logo1.png" alt=""></a></div>
			<span class="copyright">&copy; Sayna student. All Rights Reserved</span>
			<div class="credits">
		
				<a href="#">Thp like</a> by <a href="#">Team Mada</a>
			</div>
		</div>
	</footer>


	<script type="text/javascript">
		$(document).ready(function(e) {

			$('#test').scrollToFixed();
			$('.res-nav_click').click(function() {
				$('.main-nav').slideToggle();
				return false

			});

      $('.Portfolio-box').magnificPopup({
        delegate: 'a',
        type: 'image'
      });

		});
	</script>

	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 100
		});
		wow.init();
	</script>


	<script type="text/javascript">
		$(window).load(function() {

			$('.main-nav li a, .servicelink').bind('click', function(event) {
				var $anchor = $(this);

				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top - 102
				}, 1500, 'easeInOutExpo');
				/*
				if you don't want to use the easing effects:
				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top
				}, 1000);
				*/
				if ($(window).width() < 768) {
					$('.main-nav').hide();
				}
				event.preventDefault();
			});
		})
	</script>

	<script type="text/javascript">
		$(window).load(function() {


			var $container = $('.portfolioContainer'),
				$body = $('body'),
				colW = 375,
				columns = null;


			$container.isotope({
				// disable window resizing
				resizable: true,
				masonry: {
					columnWidth: colW
				}
			});

			$(window).smartresize(function() {
				// check if columns has changed
				var currentColumns = Math.floor(($body.width() - 30) / colW);
				if (currentColumns !== columns) {
					// set new column count
					columns = currentColumns;
					// apply width to container manually, then trigger relayout
					$container.width(columns * colW)
						.isotope('reLayout');
				}

			}).smartresize(); // trigger resize to set container width
			$('.portfolioFilter a').click(function() {
				$('.portfolioFilter .current').removeClass('current');
				$(this).addClass('current');

				var selector = $(this).attr('data-filter');
				$container.isotope({

					filter: selector,
				});
				return false;
			});

		});
	</script>



	<script src="js/typed.js"></script>
    <script>
      $(function(){
          $("#head-title").typed({
            strings: ["Apprendre autrement...^1000", "Apprendre facilement...^1000" ,"Apprendre librement...^1000"],
            typeSpeed: 100,
            loop: true,
            startDelay: 100
          });
      });
    </script>