<table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Thp Team Vous remercie.</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi <%= @name %>, merci de votre visite,</p>
                        <p>Nous avons biens reçu votre message, nous vous recommandant vivement de s'inscrire à l'immédiat possible sur THP en cliquant sur:</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-outline-primary">
                          <tbody>
                            <tr>
                              <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="http://www.thehackingproject.org/signup" target="_blank">Inscription</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>Nous vous proposons aussi de voir les autes belles landings pages conçues par notre team dans des délais très très courtes,</p>
                        <p>veuillez visitez: </p>
                        <a href="http://thp-by-team-mada.herokuapp.com" target="_blank">Landing 1</a><br>
                        <a href="http://thp-by-team-mada.herokuapp.com" target="_blank">Landing 2</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
                    <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Powered by <a href="http://thp-by-team-mada.herokuapp.com" target="_blank">Thp Team</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>